[Unit]
Description=tvheadend
After=network.target

[Service]
Type=forking
User=tvheadend
Group=video
RuntimeDirectory=tvheadend
PIDFile=/run/tvheadend/tvheadend.pid
ExecStart=/usr/bin/tvheadend -6 -f -p /run/tvheadend.pid -C -c /etc/tvheadend
Restart=always
RestartSec=5
DevicePolicy=closed
#DVB devices
DeviceAllow=char-DVB rw
#GPUS -for transcoding
DeviceAllow=char-drm rw
RestrictAddressFamilies=AF_INET AF_INET6
ProtectSystem=strict
ProtectHome=yes
NoNewPrivileges=yes


[Install]
WantedBy=multi-user.target
